.search-tool {
  max-width: 500px;
  margin: 0 auto 3rem;
}

.search-tool h1 {
  text-align: center;
}

.search-tool__query {
  display: flex;
  margin-bottom: 1rem;
}

.search-tool__query input {
  width: 100%;
  border-radius: 3px 0 0 3px;
  border: 1px solid lightblue;
  border-right: none;
  padding: 10px 20px;
  height: 30px;
}

.search-tool__query button {
  background-color: lightblue;
  border: none;
  padding: 10px 20px;
  color: darkslategrey;
  border-radius: 0 3px 3px 0;
}

.search-tool__criteria label {
  margin-right: 2rem;
}
